/* Don't change the existing CSS. */

.box {
  background-color: lightyellow;
  padding: 10px;
  border-radius: 8px;
  margin: 4px;
}

p {
  color: black;
  margin: 0;
  padding: 0;
}

.white-text {
  color: white;
}

.inner-box {
  background-color: lightgreen;
}

#outer-box {
  background-color: purple;
}
